--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
chromadb>=1.1.0
langchain>=0.3.27
langchain-chroma>=0.2.6
langchain-community>=0.3.30
langchain-core>=0.3.76
langchain-openai>=0.3.33
langchain-text-splitters>=0.3.11
litellm>=1.77.5
numpy>=2.0.0
openai>=1.109.1
pandas>=2.2.0
plotly>=6.3.0
python-dotenv>=1.1.1
requests>=2.32.5
scikit-learn>=1.5.0
sentence-transformers>=3.0.0
setuptools>=70.0.0
tiktoken>=0.7.0
tqdm>=4.66.0
transformers>=4.44.0
langchain-huggingface>=1.0.0
langchain-experimental>=0.0.42
python-box
ensure
pyyaml
pypdf
pydantic-settings>=2.4.0
python-magic>=0.4.27
llmwhisperer-client
python-docx
openpyxl
fastapi
uvicorn
pyahocorasick
python-multipart